<!doctype html>
<html lang="en">
  {% extends "base.html" %}

  {% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thomas O'Connor CS789 ElGamal Encription and Decription</title>
        <style>
              input{
                  border:1px solid #a9a9a9;
                  height:34px;
                  line-height:34px;
                  width:550px;
                  margin-bottom:20px;
                  padding-left:5px;
              }
      
              form{
                text-align: center;
              }
              div{
                text-align: center;
              }
        </style>
  </head>
  <body>

    <div>
      <h1>Complete the form below to generate your Public and Private Key</h1>
      <h3>A Public Key is of the form: (p,b,h) where <br> 
        p: A group chosen by both parties and agreed upon<br>
        b: a primitive root of p<br>
        h: h=b^r(modp) -> r is a secret random number that is chosen during the key generation phase</h3>
      <form id="KeyGen" method="post" action="{{ url_for('elKeyGen') }}">
      <label for="Enter the Group"></label><br>
      <input type="number" id="keygroup" name="keygroup" placeholder="Enter the Large Number"><br>
      <input type="submit" value="Generate Keys">
    </form>
    {% if p %}
    <p>
      The Public Key for Alice is: ({{ b }}, {{ h }}, {{ p }})<br>
      The Private Key for Alice is is: {{ r }}
    </p>
    <p>The Public Key for Bob is: ({{ bb }}, {{ hb }}, {{ pb }})<br>
      The Private Key for Bob is is: {{ l }}
    </p>
    {% endif %}
    {% if notP %}
    <p>
      Please use a Prime Modulus. It will go much faster and always work that way<br>
    </p>
    {% endif %}
    </div>

    <div>
      <h1>Complete the form below to generate your Public and Private Key if you know the Primitive Root</h1>
  
      <form id="KeyGenRoot" method="post" action="{{ url_for('elKeyGenRoot') }}">
      <label for="Enter the Group"></label><br>
      <input type="number" id="keygroupRoot" name="keygroupRoot" placeholder="Enter the Large Number"><br>
      <label for="Enter the Primitive Root to use"></label><br>
      <input type="number" id="Root" name="Root" placeholder="Enter the Primitive Root"><br>
      <input type="submit" value="Generate Keys Root">
    </form>
    {% if pR %}
    <p>
      The Public Key for Alice is: ({{ bR }}, {{ hR }}, {{ pR }})<br>
      The Private Key for Alice is is: {{ rR }}
    </p><br>
    {% endif %}
    </div>

    <div>
        <h1>Complete this form below if you want to Encrypt a String</h1>
        <form id="Alice" method="post" action="{{ url_for('elEnc') }}">
            <label for="Message to Encrypt"></label><br>
            <input type="text" id="message" name="message" placeholder="Enter the Message that you want to Encrypt"><br>
            <input type="number" id="pub_bob" name="pub_bob" placeholder="Enter the Public Key of the Reciever: h=b^l(modp)"><br>
            <input type="number" id="generator" name="generator" placeholder="Enter the Generator: b"><br>
            <input type="number" id="pri_A" name="pri_A" placeholder="Enter the Private Key of the Sender: r"><br>
            <input type="number" id="group" name="group" placeholder="Enter the Group: p"><br>
            <input type="submit" value="Submit Message for Encryption">
            {% if msg %}
            <p id="msg">The Message is: {{ msg }}</p><br>
            <p id="mod">The group is: {{ mod }}</p><br>
            <p id="key_pub">Bob's Public Key (b^l) is: {{ pub_bob }}</p><br>
            <p id="key_pri"></p><br>
            <p id="msg_enc">The Encrypted Message is: {{ msg_enc }}</p><br>
            {% endif %}
        </form>
    </div>

    <div>
      <h1>Complete this form below if you want to Decrypt a list where each entry represents a letter in a string</h1>
      <form id="BoB" method="post" action="{{ url_for('elDec') }}">
        <label for="Enter the Encrypted Message for Decription"></label><br>
        <input type="text" id="msg_enc" name="msg_enc" placeholder="Enter the Encrypted Message"><br>
        <input type="number" id="pub_alice" name="pub_alice" placeholder="Enter the Public Key of the Sender: h=b^r(modp)"><br>
        <input type="number" id="pri_B" name="pri_B" placeholder="Enter the Private Key of the Reciever: l"><br>
        <input type="number" id="g" name="g" placeholder="Enter the Group: p"><br>
        <input type="submit" value="Submit Message for Decryption">
      </form>
      {% if msg_enc %}
      <p>The Encrypted Message is: {{ msg_enc }}</p><br>
      <p>The Decrypted Message is: {{ msg_dec }}</p><br>
      {% endif %}
  </div>


    <div>
      <h1>Complete this form below if you want to Encrypt a number</h1>
      <form id="Alice_num" method="post" action="{{ url_for('elEncNum') }}">
          <label for="Number to Encrypt"></label><br>
          <input type="number" id="NumMessage" name="NumMessage" placeholder="Enter the Number that you want to Encrypt"><br>
          <input type="number" id="pub_bob_num" name="pub_bob_num" placeholder="Enter the Public Key of the Reciever: h=b^l(modp)"><br>
          <!--<input type="number" id="generator_num" name="generator_num" placeholder="Enter the Generator: b">-->
          <input type="number" id="pri_A_num" name="pri_A_num" placeholder="Enter the Private Key of the Sender: r"><br>
          <input type="number" id="group_num" name="group_num" placeholder="Enter the Group: p"><br>
          <input type="submit" value="Submit Number for Encryption">
          {% if num %}
          <p id="msg">The Message is: {{ num }}</p><br>
          <p id="mod">The group is: {{ mod_num }}</p><br>
          <p id="key_pub">Bob's Public Key (b^l) is: {{ pub_bob_num }}</p><br>
          <p id="key_pri"></p><br>
          <p id="msg_enc">The Encrypted Message is: {{ num_enc }}</p><br>
          {% endif %}
      </form>
  </div>

      <div>
        <h1>Complete this form below if you want to Decrypt a number</h1>
        <form id="BoB_num" method="post" action="{{ url_for('elDecNum') }}">
          <label for="Enter the Encrypted Number for Decription"></label><br>
          <input type="num" id="num_enc" name="num_enc" placeholder="Enter the Encrypted Number"><br>
          <input type="number" id="pub_alice_num" name="pub_alice_num" placeholder="Enter the Public Key of the Sender: h=b^r(modp)"><br>
          <input type="number" id="pri_B_num" name="pri_B_num" placeholder="Enter the Private Key of the Reciever: l"><br>
          <input type="number" id="g_num" name="g_num" placeholder="Enter the Group: p"><br>
          <input type="submit" value="Submit Number for Decryption">
        </form>
        {% if num_enc %}
        <p>The Encrypted Message is: {{ num_enc }}</p><br>
        <p>The Decrypted Message is: {{ num_dec }}</p><br>
        {% endif %}
      </div>

      <h1>The two forms below can be used to simulate Eve's Man in the Middle Attack</h1>
      <div>
        <h1>Complete this form to generate fake keys of Alice and Bob.
          <p>If Alice and Bob's Public Keys are of the form b^r and B^l (where r & l are their Private Keys)<br>
            then Eve's fake keys will have the form Fake Alice: b^rx and Fake Bob: b^ly, <br>where x,y are Eve's Private Keys
            tied to each Public Key. (Note: Use the Forms above to generate the Keys)
          </p>
        </h1>
        <form id="EveKey" method="post" action="{{ url_for('eve_key_gen_view') }}">
          <label for="Enter the Public Keys of those you want to attack"></label><br>
          <input type="number" id="eve_alice_pub" name="eve_alice_pub" placeholder="Enter Alice's Public Key: h=b^r(modp)"><br>
          <input type="number" id="eve_bob_pub" name="eve_bob_pub" placeholder="Enter Bob's Public Key: h=b^l(modp)"><br>
          <input type="number" id="eve_p" name="eve_p" placeholder="Enter the Group: p"><br>
          <input type="submit" value="Submit to generate Fake Keys">
        </form>
        {% if fake_alice %}
        <p>Eve's Fake Key for Alice (b^rx): {{ fake_alice }} with x= {{x}}</p><br>
        <p>Eve's Fake Key for Bob (b^ly): {{ fake_bob }} with y= {{y}}</p><br>
        {% endif %}
      </div>

      <div>
        <h1>Complete this form to perform Eve's Man in The Middle Attack
          <p>This will require the an Encypted message made by Alice using Eve's Fake Public Key for Bob<br>
            (Use the form above to generate the message)<br>

          </p>
        </h1>
        <form id="EveAttack" method="post" action="{{ url_for('eve_attack_view') }}">
          <label for="Enter Encrypted Number"></label><br>
          <input type="number" id="eve_num" name="eve_num" placeholder="Enter the Encrypted Message"><br>
          <input type="number" id="eve_bob_fake" name="eve_bob_fake" placeholder="Enter Bob's Fake Public Key: h=b^ly(modp)"><br>
          <input type="number" id="eve_attack_alice" name="eve_attack_alice" placeholder="Enter Alice's Public Key: h=b^r(modp)"><br>
          <input type="number" id="eve_p_attack" name="eve_p_attack" placeholder="Enter the Group: p"><br>
          <input type="submit" value="Submit to perform Eve's Attack">
        </form>
        {% if eve_dec %}
        <p>The Encrypted Message meant for Bob: {{eve_enc}}</p><br>
        <p>Eve's Decryption: {{eve_dec}}</p><br>
        {% endif %}
      </div>

      <div>
        <h1>Complete this form to perform Eve's Man in The Middle Attack via Discrete Log
        </h1>
        <form id="EveAttackBSGS" method="post" action="{{ url_for('eve_attack_bsgs_view') }}">
          <label for="Enter Encrypted Number"></label><br>
          <input type="number" id="eve_bsgs" name="eve_bsgs" placeholder="Enter the Encrypted Message"><br>
          <input type="number" id="bob_bsgs" name="bob_bsgs" placeholder="Enter Bob's (the intended reciever) Public Key: h=b^l(modp)"><br>
          <input type="number" id="alice_bsgs" name="alice_bsgs" placeholder="Enter Alice's (the senders) Public Key: h=b^r(modp)"><br>
          <input type="number" id="p_bsgs" name="p_bsgs" placeholder="Enter the Group: p"><br>
          <input type="number" id="g_bsgs" name="g_bsgs" placeholder="Enter the Generator: g"><br>
          <input type="submit" value="Submit to perform Eve's Attack via BSGS">
        </form>
        {% if enc_bsgs %}
        <p>The Encrypted Message meant for Bob: {{enc_bsgs}}</p><br>
        <p>Eve's Decryption: {{dec_bsgs}}</p><br>
        {% endif %}
      </div>
  </body>
  {% endblock %}
</html>
