<!DOCTYPE html>
<html>
    {% extends "base.html" %}

    {% block content %}
    <head>
        <style>
        input{
            border:1px solid #a9a9a9;
            height:34px;
            line-height:34px;
            width:550px;
            margin-bottom:20px;
            padding-left:5px;
        }

        form, p, h3{
          text-align: center;
        }
        </style>
    </head>
     <div>
         <h3>Complete this form to find the GCD of two numbers</h3>
          <form id="GCD" method="post" action="{{ url_for('gcd') }}">
              <label for="GCD_M"></label><br>
              <input type="number" id="GCD_M" name="GCD_M" placeholder="Enter M"><br>
              <label for="GCD_N"></label><br>
              <input type="number" id="GCD_N" name="GCD_N" placeholder="Enter N"><br>
              <input type="submit" value="Submit GCD">
          </form>
          {% if gcd %}
          <p>
              The GCD of {{ first }} and {{ second }} is: {{ gcd }}<br>
          </p><br>
          {% endif %}
     </div>

     <div>
         <h3>Complete this form to find the Multiplicative Inverse of a number</h3>
        <form id="ModInverse" method="post" action="{{ url_for('modInverse') }}">
            <label for="Number"></label><br>
            <input type="number" id="num" name="num" placeholder="Enter a Number"><br>
            <label for="mod"></label><br>
            <input type="number" id="mod" name="mod" placeholder="Enter the Modulous"><br>
            <input type="submit" value="Submit Inverse">
            {% if nummy %}
            <p>
                The multiplicative inverse of {{ nummy }} under {{ moddy }} is: {{ anwser }}<br>
            </p><br>
            {% endif %}
        </form>
   </div>


   <div>
       <h3>Complete This form below to perform Fast Modular Exponentiation</h3>
    <form id="FastExpoMod" method="post" action="{{ url_for('fastExpo') }}">
        <label for="Number"></label><br>
        <input type="number" id="x" name="x" placeholder="Enter a Number"><br>
        <label for="Exponent"></label><br>
        <input type="number" id="e" name="e" placeholder="Enter the Exponent"><br>
        <label for="mod"></label><br>
        <input type="number" id="modExpo" name="modExpo" placeholder="Enter the Modulous"><br>
        <input type="submit" value="Submit FastExpoMod">
        {% if xx %}
        <p>
            {{xx}} ^ {{ee}} mod {{mm}} is: {{remainder}}<br>
        </p><br>
        {% endif %}
    </form>
    </div>

   <div>
       <h3>Complete this form below to see if a nummber is Prime (now with Miller Rabin Test!)</h3>
    <form id="prime" method="post" action="{{ url_for('prime') }}">
        <label for="prime"></label><br>
        <input type="number" id="prime" name="n" placeholder="Enter a Number to see if it is Prime"><br>
        <input type="submit" value="Check Prime">
        {% if pis %}
        <p>
          Is {{pis}} Prime:  {{ res }}<br>
        </p><br>
        {% endif %}
    </form>
    </div>

    <div>
        <h3>Complete the form below to Generate the Prime Factorization of the number</h3>
        <form id="primeFactor" method="post" action="{{ url_for('primeFactorRoute') }}">
            <label for="primeFactor"></label><br>
            <input type="number" id="prime" name="nFactor" placeholder="Enter a Number for Prime Factorization"><br>
            <input type="submit" value="Check Prime Factor">
        </form>
        <p>
            {% for f in factors%}
            <b>{{f}}</b>
            {% endfor %}
        </p>
    </div><br>

    <div>
        <h3>Enter a number to see the size of it's Multiplicative Group</h3>
        <form id="Size"r method="post" action="{{ url_for('size') }}">
            <label for="size"></label><br>
            <input type="number" id="Zsize" name="n" placeholder="Enter a Number: Output = size of the multiplicative group"><br>
            <input type="submit" value="Check size">
            {% if size %}
            <p>
              The size of that group is:  {{ size }}<br>
            </p><br>
            {% endif %}
        </form>
    </div><br>

   <div>
       <h3>Enter a Number to calculate its smallest Primitive Root (if it exists)</h3>
    <form id="myT" method="post" action="{{ url_for('roots') }}">
        <label for="ross"></label><br>
        <input type="number" id="troots" name="nroots" placeholder="Enter a Number: Output will be the smallest Primitive Root"><br>
        <input type="submit" value="Check for the smallest primitive root">
        {% if small %}
        <p>
          The smalles Primitive Root is :{{ small }}<br>
        </p><br>
        {% endif %}
    </form>
    </div><br>

    <div>
        <h3>Enter a number to find complete list of Primitive Roots if they exist (note this will be very slow for large non-prime numbers)</h3>
        <form id="myPrime" method="post" action="{{ url_for('rootsList') }}">
            <label for="RootsList"></label><br>
            <input type="number" id="listroots" name="listroots" placeholder="Enter a Number: Output will be a list of the Primitive Roots"><br>
            <input type="submit" value="Find roots">
        </form>
        <p>
            {% for p in rootlist %}
            <b>{{p}}</b>
            {% endfor %}
        </p>
        </div>

    <div>
        <h3>Form for computing the Decrete Log via the Baby-Step Giant-Step Algorithm<br>
        This solves for x in the form h=g^x(modp) for a prime modulus</h3>
        <form id="BabyStep" method="post" action="{{ url_for('baby') }}">
            <label for="g"></label><br>
            <input type="number" id="gbaby" name="babyg" placeholder="Enter a Number that is the base"><br>
            <label for="H"></label><br>
            <input type="number" id="hBaby" name="babyh" placeholder="Enter the solution"><br>
            <label for="Mod"></label><br>
            <input type="number" id="babyMod" name="babyMod" placeholder="Enter the Modulus"><br>
            <input type="submit" value="Submit Baby">
        </form>
        {% if hbaby %}
        <p>
            The solution to {{hbaby}} = {{gbaby}}^x (mod{{modbaby}}) is x={{xbaby}}<br>
        </p><br>
        {% endif %}
   </div>

   <div>
       <h3>Complete this form to find the remainder (i.e computes a%b)</h3>
        <form id="Moddy" method="post" action="{{ url_for('modEasy') }}">
            <label for="theNum"></label><br>
            <input type="number" id="nums" name="nums" placeholder="Enter a Number"><br>
            <label for="Moddy"></label><br>
            <input type="number" id="moddy" name="moddy" placeholder="Enter the Modulus"><br>
            <input type="submit" value="Submit Easy Mod">
        </form>
    </div><br>


    <div>
        <h3>Click the button below to generate a random large Prime number</h3>
        <form id="randPrime" method="post" action="{{ url_for('randP') }}">
            <input type="submit" value="Submit For a Random Prime">
            {% if rand %}
            <p>The Random Prime is: {{ rand }}</p><br>
            {% endif %}
        </form>
    </div><br>

    <div>
        <h3>Complete this form to find the prime factorization of N using Pollards method</h3>
     <form id="Moddy" method="post" action="{{ url_for('pollard') }}">
         <label for="polnum"></label><br>
         <input type="number" id="pol" name="pol" placeholder="Enter a Number"><br>
         <input type="submit" value="Submit for Pollards Factorization">
         {% if ppol %}
         <p>The Prime factors of {{npol}} are {{ppol}} and {{qpol}}</p><br>
         {% endif %}
     </form>
 </div>


{% endblock %}
</html>